.header{
    display: flex;
    width: 100vw;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 50%;

    svg{
        cursor: pointer;
        margin-top: 0.3rem;
        margin-right: 1rem;
    }

    ul{
        display: flex;
        column-gap: 8px;
        width: 70%;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            column-gap: 5px;
            padding: 0.7rem;
            border-radius: 0.8rem;
        }
        li:hover{
            background-color: #fafafa;
        }
    }
}

.header-right{
    width: 50%;
    ul{
        display: flex;
        column-gap: 14px;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            column-gap: 7px;
            padding: 0.7rem;
            border-radius: 0.8rem;
        }
        li:hover{
            background-color: #fafafa;
        }
    }
}

@media screen and (max-width: 767px){

    .header-left, .header-right{
        color: white;
        .logo{
            display: none;
        }
    }
    .header-right{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .header-left, .header-right{
        color: white;
        ul{
            column-gap: 0rem;
        }
        .logo{
            display: none;
        }
    }
    .header{
        column-gap: 3rem;
    }
}