.header{
    display: flex;
    width: 100vw;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 60%;

    svg{
        cursor: pointer;
        margin-top: 0.3rem;
        margin-right: 1rem;
    }

    ul{
        display: flex;
        column-gap: 8px;
        width: 70%;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            column-gap: 5px;
            padding: 0.7rem;
            border-radius: 0.8rem;
        }
        li:hover{
            background-color: #fafafa;
        }
    }
}

.header-right{
    width: 40%;
    ul{
        display: flex;
        column-gap: 14px;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            column-gap: 7px;
            padding: 0.7rem;
            border-radius: 0.8rem;
        }
        li:hover{
            background-color: #fafafa;
        }
    }
}